html,
body {
	min-height: 100vh;
	overflow: auto;
}

body {
	text-align: center;
	background-image: linear-gradient(112.1deg, #3a445e 11.4%, #1e2a46 70.2%);
	background-image: -moz-linear-gradient(112.1deg, #3a445e 11.4%, #1e2a46 70.2%);
	background-image: -webkit-linear-gradient(112.1deg, #3a445e 11.4%, #1e2a46 70.2%);
	padding-top: 30px;
	color: #e5e5e5;
	height: 100%;
	padding-bottom: 20px;
}

.inline {
	display: inline-flex;
}

h5 {
	margin-bottom: 10px;
}

.hr {
	width: 60%;
	text-align: center;
	border-color: #e24c75;
	margin-top: 10px;
	margin-bottom: 15px;
}

.hr2 {
	width: 55%;
	text-align: center;
	border-color: #e24c75;
	margin-top: 10px;
	margin-bottom: 15px;
}

.form {
	display: inline-block;
}

.table {
	max-width: 600px;
}

.column-align {
	text-align: left;
}

.input {
	width: 300px !important;
	background-color: #102344 !important;
	border-color: #152136 !important;
	border-radius: 8px !important;
}

.icon {
	width: 33%;
	margin-left: 8px;
	margin-right: 8px;
}

label {
	text-align: left;
}

.logo {
	width: 60px;
	height: 60px;
	border-radius: 20%;
	box-shadow: 0px 1px 5px black;
}

.picto {
	width: 24px;
	height: 24px;
}

.picto-small {
	width: 16px;
	height: 16px;
}

.picto-tiny {
	width: 10px;
	height: 10px;
}

.btn {
	margin-top: 15px;
}

.img-btn {
	border: 0;
	background: transparent;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
}

.error {
	color: #e96f6f;
	font-weight: bold;
	margin-bottom: 10px;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
	color: #fff !important;
	background-color: #e24c75 !important;
	border-color: #4f0050 !important;
	box-shadow: 0px 5px 11px #1e2a46 !important;
	border-radius: 20px;
}

@keyframes dash {
	to {
		stroke-dashoffset: -100;
	}
}

@keyframes dash-reverse {
	to {
		stroke-dashoffset: 100;
	}
}

.loading {
	position: fixed;
	z-index: 999;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.loading:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 50px;
	height: 50px;
	margin-top: -0.5em;

	border: 10px solid rgba(33, 150, 243, 1);
	border-radius: 100%;
	border-bottom-color: transparent;
	-webkit-animation: spinner 1s linear 0s infinite;
	animation: spinner 1s linear 0s infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
